<div class="container px-app mt-5 d-flex flex-column align-items-center">
    <h6 class="display-4">
        Profile
    </h6>
    <div class="container d-flex">
        <img src="" alt="Profile Image">
        <div class="container">
            <h6>
                User Name
            </h6>
            <p>
                Number Of blogs
            </p>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">
            My Blogs
        </h2>
        <app-blog></app-blog>
    </div>
</div>
