<div class="container mt-5">
  <h4 class="display-4 text-center">Blog Details</h4>
  <div class="container">
    <h4>Blog Title</h4>
    <h6>Written by: User Name <span>On: Date Here</span></h6>

    <br />
    <br />
    <h4>Blog Gallery</h4>
    <!-- Can Insert Slider Images for the blog if any pictures available -->
    <div class="container">
      <!-- Sliders here -->
      <img
        src="https://images.pexels.com/photos/12982035/pexels-photo-12982035.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        width="550px"
        height="250px"
        alt=""
      />
    </div>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi iusto
      reiciendis, molestias atque officia consectetur ab assumenda quidem.
      Aliquid fugiat inventore quasi ipsum, numquam labore expedita consequuntur
      fugit voluptates culpa mollitia unde, consequatur ut molestiae cum nostrum
      quam ad laborum. Nam tenetur quas sed repellendus necessitatibus debitis
      aut. Aperiam laudantium nostrum earum doloribus aut unde, sint illum
      repellendus minus eum quae mollitia tempore modi. Omnis ducimus deserunt
      qui fugiat beatae, quas veniam modi ut possimus, totam incidunt dolorum
      ad, blanditiis maxime repellendus. Praesentium nostrum aliquid sapiente
      vel, natus temporibus distinctio deserunt rerum, vero, eum consequatur qui
      perferendis ullam iste dolore possimus libero nihil iusto! Voluptate,
      deleniti fuga quos numquam tempore quidem natus animi itaque nam, officia
      amet neque iusto nulla delectus facere molestias saepe repellendus minima
      sit, culpa sunt recusandae error? Id ipsa voluptatum, minus iste optio
      neque dolores nulla culpa quibusdam molestiae provident quasi
      exercitationem quisquam recusandae voluptate officiis est maxime similique
      accusamus sunt error ipsam cupiditate cumque dolorem. Delectus, accusamus
      facilis rem suscipit voluptates mollitia nobis illum nam animi consequatur
      voluptatem maxime adipisci eum magni autem, neque doloremque, esse sed.
      Perspiciatis dolores officiis dolorum asperiores, dolor unde ad aliquam
      ducimus! Minus veniam debitis, facilis sequi vel deserunt odit qui iste.
      Distinctio necessitatibus natus expedita odio qui veniam beatae eligendi
      inventore ducimus labore, tempora voluptas atque! Minima nam blanditiis
      enim accusantium illum, dicta, iste perferendis fuga voluptate itaque, qui
      labore omnis aut! Dolor mollitia totam in, cum quisquam tempore
      perferendis est molestiae, veritatis alias, accusamus minus similique
      velit repellendus?
    </p>
  </div>
</div>
